@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 10px;
}

.header-container {
  background-image: linear-gradient(
    to left,
    rgb(91, 53, 162),
    rgb(93, 88, 88),
    rgb(237, 165, 41)
  );
}

.auto-search-suggestion-container {
  background-image: linear-gradient(
    to left,
    rgb(91, 53, 162),
    rgb(93, 88, 88),
    rgb(237, 165, 41)
  );
}
